{% extends 'base.html.twig' %}
{% block title %}Classement{% endblock %}

{% block body %}
  <section class="container" style="max-width: 720px; margin: 2rem auto;">
    <h1>Tableau des scores</h1>
    <p class="text-muted">Le classement arrivera ici très vite </p>
    <a class="btn btn-link" href="{{ path('app_menu') }}">Retour au menu</a>
  </section>
{% endblock %}
