{% extends 'base.html.twig' %}
{% block title %}Register | MamanSolo{% endblock %}

{% block body %}
  <h1>Créer mon compte 💕</h1>

  {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">🎮 Commencer le jeu</button>
  {{ form_end(form) }}
{% endblock %}
