security:
  password_hashers:
    App\Entity\Utilisateur: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\Utilisateur
        property: email   

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      form_login:
        login_path: app_login
        check_path: app_login
        default_target_path: app_welcome
        always_use_default_target_path: true
        username_parameter: _username
        password_parameter: _password
        enable_csrf: true
        csrf_parameter: _csrf_token
        csrf_token_id: authenticate
      logout:
        path: app_logout
        target: app_welcome

  access_control:
    - { path: ^/welcome, roles: PUBLIC_ACCESS }
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/register, roles: PUBLIC_ACCESS }
