{% extends 'base.html.twig' %}

{% block title %}Welcome | MamanSolo{% endblock %}

{% block body %}
  <h1>Bienvenue dans MamanSolo 💕</h1>

  <a href="{{ path('app_login') }}" class="btn">Commencer</a>
  
{% endblock %}