# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    events_json_path: '%kernel.project_dir%/public/data/events.json'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # Service explicite pour EventsJsonLoader
    App\Service\EventsJsonLoader:
        arguments:
            $jsonPath: '%events_json_path%'

    # GameDesignStats sera autowiré automatiquement
    # grâce au type hint App\Service\EventsJsonLoader dans son constructeur